<!-- Begin _footer.erb -->
      <br/>
      <hr>
      <div class="footer-logo-and-detail">
        <div class="footer-logo">
          <img src="/images/ladybug.jpg" alt="Footer Logo"
               width="50" height="50" border="1">
        </div>
        <div class="footer-detail">
          <br/>
          &copy; <i>2013 SongWriting WorkBench</i>
        </div>
      </div>

    </div>
<!-- End _footer.erb -->
