<%= render :partial => "layouts/header" %>

      <div class='content'>
        <h2><%= @page_title %></h2>
        <p style="text-align:justify; margin-left:90px; margin-right:185px;">
        SongWriting WorkBench is a set of tools that can be used to assist in
        writing lyrics. This workbench will display the current song
        being worked on and allow editing of that song if you are logged in.
        SWWB will also allow new songs to be added. In addition, recently
        viewed songs will be displayed and each can be selected to become the
        current song. Finally, a list of assorted verse phrases and song titles
        can be maintained separately.
        <br/><br/>
        If you are not logged in, then you may view the default set of songs.
        The 'Set as Current Song' is also enabled. You may log in as 'guest'
        in order to create and alter your own songs, verses, and titles.
        </p>
        <br/><br/><br/><br/>
      </div>

<%= render :partial => "layouts/footer" %>
