<%= render :partial => "layouts/header" %>

      <div class='content'>
        <h2><%= @page_title %></h2>
        <br/><br/>
        <div class="link-thesaurus">
          <a href="http://thesaurus.com/" target="_blank">Thesaurus</a>
        </div>
        <br/><br/>
        <div class="link-rhyme-dict">
          <a href="http://www.rhymezone.com/"
             target="_blank">Rhyming Dictionary</a>
        </div>
        <br/><br/><br/><br/>
      </div>

<%= render :partial => "layouts/footer" %>
